body {
    font-family: Georgia;
    background-color:darkgrey;
    color:black;
    margin: 0;
    padding: 0;
}
header {
    background-color:dimgray;
    padding: 10px;
    text-align: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color:darkgrey;
}
nav a:hover {
    color: black;
}
main {
    padding: 20px;
}
img {
    border: 2px solid black;
    max-width: 300px;
}
footer {
    background-color:darkgray;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}